<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/admin/users/userList.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3 align="center"><strong>Description user</strong></h3>
<h4 align="center"><a href="/admin/add/user">Create new user</a></h4>
<table class="rounded" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>VIEW</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <td><a th:href="@{/admin/user/{id}(id=${user.id})}">info</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>