<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/admin/users/user.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3 align="center"><strong>Description user</strong></h3>
<table class="rounded" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <td><button><a th:href="@{/admin/delete/user/{id}(id=${user.id})}">Delete user</a></button></td>
    </tr>
    </tbody>
</table>
<br>
<h3 align="center">Edit user</h3>
<div align="center">
    <form th:action="@{/admin/edit/user/{id}(id=${user.id})}" method="post">

        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="repeatPassword">Repeat password: </label><br>
        <input type="password" id="repeatPassword" name="repeatPassword" required><br>

        <label for="email">Email: </label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="phone">Phone: </label><br>
        <input type="text" id="phone" name="phone" required><br>

        <br>
        <input type="submit">
    </form>
</div>
</body>
</html>