<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration Service</title>
    <link href="/css/admin/main.css" rel="stylesheet" type="text/css">
    <link href="/css/a_without_underline.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 align="center">Administration Service</h1>
<table id="table">
    <tbody>
    <tr>
        <td>WORKS WITH CARS</td>
        <td><button><a href="/admin/carList/1">SHOW CARS</a></button></td>
    </tr>
    <tr>
        <td>WORKS WITH USERS</td>
        <td><button><a href="/admin/userList">SHOW USERS</a></button></td>
    </tr>
    <tr>
        <td>WORKS WITH ORDERS</td>
        <td><button><a href="/admin/orderList">SHOW ORDERS</a></button></td>
    </tr>
    <tr>
        <td>WORKS WITH PAYMENTS</td>
        <td><button><a href="/admin/paymentList">SHOW PAYMENTS</a></button></td>
    </tr>
    </tbody>
</table>
</body>
</html>
