<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">
    <style>
		#avrDiv {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
		}

		.warning {
			border: 1px ridge black;
			background-color: white;
			padding: 1rem;
			display: flex;
			flex-direction: column;
		}

		.warning img {
			width: 280px;
		}

		.warning p {
			font: small-caps bold 1.2rem sans-serif;
			text-align: center;
		}

	</style>
</head>
<body>
<h1 align="center">Admin Car List</h1>
<h3 align="center"><a href="/admin/add/car">ADD CAR</a></h3>
<h3 align="center"><a href="/admin">return to administration service</a></h3>
<div th:each="car : ${carList}">
    <div id="avrDiv" class="warning">
        <a th:href="@{/admin/car/{id}(id=${car.id})}">
        <div align="center"><img th:src="${car.imageList.get(0).image.equals('')} ? '/img/car/noAuto.png' : ${'data:image/jpeg;base64,'+{car.imageList.get(0).image}}"></div>
        <p th:text="${car.name}"></p>
        <div align="center">
            year: <span th:text="${car.year}"></span><br>
            engine description: <span th:text="${car.engineDescription}"></span><br>
            transmission: <span th:text="${car.transmission}"></span><br>
            <b>price: <span th:text="${car.price}"></span></b><br><br>
        </div>
        </a>
    </div>
    <br>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

</body>
</html>