<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="/css/admin/cars/carList.css" rel="stylesheet" type="text/css">
    <link href="/css/a_without_underline.css" rel="stylesheet" type="text/css">
    <link href="/css/paging.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 align="center">Admin Car List</h1>
<h3 align="center"><a href="/admin/add/car">ADD CAR</a></h3>
<h3 align="center"><a href="/admin">return to administration service</a></h3>
<div th:each="car : ${carList}">
    <div id="avrDiv" class="warning">
        <a th:href="@{/admin/car/{id}(id=${car.id})}">
        <div align="center"><img th:src="${car.imageList.get(0).image.equals('')} ? '/img/car/noAuto.png' : ${'data:image/jpeg;base64,'+{car.imageList.get(0).image}}"></div>
        <p th:text="${car.name}"></p>
        <div align="center">
            year: <span th:text="${car.year}"></span><br>
            engine description: <span th:text="${car.engineDescription}"></span><br>
            transmission: <span th:text="${car.transmission}"></span><br>
            <b>price: <span th:text="${car.price}"></span></b><br><br>
        </div>
        </a>
    </div>
    <br>
</div>

<div class="center">
    <div class="pagination">
        <a th:text="${currentPage > 1} ? '&laquo;':''"
           th:href="${currentPage == 1} ? '' : @{/admin/carList/{count}(count=${currentPage-1})}"></a>
        <a th:each="i : ${#numbers.sequence(startPage, endPage)}"
           th:href="@{/admin/carList/{i}(i=${i})}"
           th:class="${i==currentPage} ? 'active'"
           th:text="${i}"></a>
        <a th:text="${currentPage!=numberOfPages} ? '&raquo;':''"
           th:href="${currentPage < numberOfPages} ? @{/admin/carList/{count}(count=${currentPage+1})}"></a>
    </div>
</div>

</body>
</html>