<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
  <link href="/css/user/carList.css" rel="stylesheet" type="text/css">
  <link href="/css/a_without_underline.css" rel="stylesheet" type="text/css">
  <link href="/css/paging.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 align="center">Make a choose</h1>
<div th:each="car : ${carList}">
  <div id="avrDiv" class="warning" >
    <div align="center"><a th:href="@{/user/{id}(id=${car.id})}"><img th:src="${car.imageList.get(0).image.equals('')} ? '/img/car/noAuto.png' : ${'data:image/jpeg;base64,'+{car.imageList.get(0).image}}"></a></div>
    <a th:href="@{/user/{id}(id=${car.id})}"><p th:text="${car.name}"></p></a>
    <div align="center">
      year: <span th:text="${car.year}"></span><br>
      engine description: <span th:text="${car.engineDescription}"></span><br>
      transmission: <span th:text="${car.transmission}"></span><br>
      <b>price: <span th:text="${car.price}"></span></b><br>
      <button><a th:href="@{/user/pay/{id}(id=${car.id})}">ORDER</a></button>
    </div>
  </div>
  <br>
</div>

<div class="center">
  <div class="pagination">
    <a th:text="${currentPage > 1} ? '&laquo;':''"
       th:href="${currentPage == 1} ? '' : @{/user/carList/{count}(count=${currentPage-1})}"></a>
    <a th:each="i : ${#numbers.sequence(startPage, endPage)}"
       th:href="@{/user/carList/{i}(i=${i})}"
       th:class="${i==currentPage} ? 'active'"
       th:text="${i}"></a>
    <a th:text="${currentPage!=numberOfPages} ? '&raquo;':''"
       th:href="${currentPage < numberOfPages} ? @{/user/carList/{count}(count=${currentPage+1})}"></a>
  </div>
</div>
</body>
</html>
